* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4.5rem;
    background-color: #252525;
    color: #fff;
}

header div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logoFantastika {
    width: 15%;
    height: 10%;
}

header ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.redesSociais img {
    transform: scale(1.0);
    transition: 0.3s;
}

.redesSociais img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/images/cachorrorosa.png);
    background-size: cover;
    background-position: center bottom;
    height: 130vh;
}

main h3 {
    width: 50%;
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 60px;
    position: relative;
    bottom: 7rem;
}

.img-pata {
    position: relative;
    bottom: 5rem;
}

.blocoInformacoesServicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130vh;
    background-image: url(/images/cachorroLeao.png);
    background-position: center right;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: #f4f2f3;
}

.blocoInformacoesServicos2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130vh;
    background-image: url(/images/cachorropreto.png);
    background-position: left top;
    background-size: 100vw;
    background-repeat: no-repeat;
    color: #fff;
}

.informacoesServicos h3,
.informacoesServicos p,
.informacoesServicos .blocoBotao {
    padding: 1.2rem 2rem;
}

.informacoesServicos h3 {
    font-size: 60px;
    font-weight: 800;
}

.informacoesServicos2 h3 {
    width: 50vw;
    position: relative;
    text-align: start;
    font-size: 60px;
    font-weight: 800;
}

.informacoesServicos p,
.informacoesServicos2 p {
    width: 50%;
    font-size: 25px;
    font-weight: 400;
    text-align: start;
}

.informacoesServicos button {

    width: 12rem;
    height: 4.5rem;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 40px;
    border: none;
    background-color: #3A342F;
    transition: 0.3s;
}

.informacoesServicos2 button {

    width: 12rem;
    height: 4.5rem;
    font-size: 20px;
    font-weight: 700;
    color: #24201d;
    border-radius: 40px;
    border: none;
    background-color: #fff;
    transition: 0.3s;
}

.informacoesServicos2 button:hover {
    background-color: #b4b3b3;
    transition: 0.3s;
}

.informacoesServicos button:hover {
    background-color: #24201d;
    transition: 0.3s;
}

.informacoesServicos2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.informacoesServicos2 h3,
.informacoesServicos2 p,
.informacoesServicos2 .blocoBotao2 {
    padding: 1.2rem 2rem;
}

.informacoesServicos2 .blocoBotao2 {
    width: 50vw;
}

.bloco-patrocinadores {
    padding: 4rem;
}

.patrocinadores {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.patrocinadores figure {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
}

.patrocinadores p {
    font-size: 30px;
    color: #FD6A9A;
}

.bloco-informacoes-adicionais {
    height: 50vh;
    background-color: #EB4A7B;
    color: #fff;

}

.bloco-geral {
    display: flex;
    gap: 6rem;
    padding: 4.8rem 8rem;
}

.fantastika {
    width: 0;
}

.fantastika h2 {
    width: 0;
    font-size: 0;
}

.bloco-geral h3 {
    font-size: 30px;
    padding-bottom: 1rem;
}

.bloco-geral ul {
    list-style: none;
}

.bloco-geral ul li {
    padding-bottom: 1rem;
}

.bloco-geral a {
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width: 1000px) and (max-width: 1150px) {
    .blocoInformacoesServicos {
        height: 130vh;
        background-position: center right;
        background-size: cover;
    }

    .blocoInformacoesServicos2 {
        height: 130vh;
        background-size: cover;
    }

}

@media screen and (min-width: 800px) and (max-width: 999px) {

    main {

        height: 120vh;
    }

    main h3 {
        font-weight: 900;
        font-size: 50px;
    }

    .img-pata {
        width: 90%;
        bottom: 6rem;
    }


    .blocoInformacoesServicos {
        height: 120vh;
    }

    .informacoesServicos h3,
    .informacoesServicos2 h3 {
        font-size: 50px;
        font-weight: 800;
    }

    .informacoesServicos p,
    .informacoesServicos2 p {
        width: 50%;
        font-size: 22px;
        font-weight: 400;
        text-align: start;
    }

    .blocoInformacoesServicos2 {
        height: 120vh;
background-size: cover;
    }

    .patrocinadores p {
        font-size: 28px;
    }

    .patrocinadores img {
        width: 80%;
    }

    .bloco-geral {
        gap: 4rem;
        padding: 4.0rem 7rem;
    }

    .bloco-geral h3 {
        font-size: 28px;
    }

}

@media screen and (min-width: 100px) and (max-width: 799px) {

    .whatsapp {
        width: 2.3rem;
    }

    .instagram,
    .youtube {
        display: none;
    }

    main {
        background-image: url(/images/images-mobile/cahorroRosaMob.png);
        background-size: 110vh;
        background-position: center bottom;
        height: 150vh;
    }

    main h3 {
        width: 80%;
        font-weight: 900;
        font-size: 50px;
        bottom: 18rem;
    }

    .img-pata {
        width: 90%;
        bottom: 14rem;
    }


    .blocoInformacoesServicos {
        justify-content: flex-start;
        padding-top: 3rem;
        background-image: url(/images/images-mobile/cachorroLeaoMob.png);
        background-position: bottom;
        background-size: 100vw;
        height: 150vh;
        background-size: cover;
    }

    .informacoesServicos h3,
    .informacoesServicos2 h3 {
        font-size: 50px;
        font-weight: 800;
    }

    .informacoesServicos p,
    .informacoesServicos2 p {
        width: 90%;
        font-size: 22px;
        font-weight: 400;
        text-align: start;
    }

    .blocoInformacoesServicos2 {
        padding-top: 3rem;
        justify-content: flex-start;
        height: 150vh;
        background-image: url(/images/images-mobile/cachorroPretoMob.png);
        background-size: cover;
    }

    /* AJEITAR BLOCO CAHORRO PRETO MOBILE DEIXAR BLOCO PRA CIMA */

    .informacoesServicos2 {
        align-items: flex-start;
    }

    .bloco-patrocinadores {
        padding: 2rem;
    }

    .patrocinadores {
        flex-direction: column;
    }

    .patrocinadores p {
        padding: 0.5rem;
        font-size: 20px;
    }

    .patrocinadores img {
        width: 75%;
    }

.bloco-geral {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10rem;
}

.fantastika {
    gap: 0.2rem;
    padding-right: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fantastika img {
    width: 60px;
    height: 20%;
}

.fantastika h2 {
    width: 0;
    font-size: 40px;
}

.bloco-informacoes-adicionais {
    height: auto;
}

.bloco-atendimento {
    padding-left: 4rem;
}
    
}